@charset "utf-8";
@import url("bootstrap.css");
@import url("bootstrap-theme.css");
@import url("font-awesome.min.css");
@import url("footer.css");
body {
	background-color: #e3e3e3;
	font-family: Verdana, sans-serif;
}
h1, h2 {
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: 2px;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a, a:hover {
	text-decoration: none;
}
.header-top {
	background: #191919;
	color: #cfcfcf;
	padding: 5px 0;
}
.contacts_block {
	float: right;
}
.contacts_block i {
	display: block;
	width: 34px;
	height: 34px;
	background: #285360;
	border-radius: 50%;
	text-align: center;
	line-height: 34px;
	float: left;
}
.contacts_block span {
	float: left;
	height: 34px;
	line-height: 34px;
	padding-left: 10px;
	padding-right: 10px;
}
.main_logo {
	float: left;
}
.main_nav {
	float: right;
}
.header-bottom {
	background-color: #ededed;
	height: 69px;
}
.main_nav li {
	float: left;
}
.main_logo img {
margin: 2px;

}
.main_nav a {
	display: block;
	color: #4c4c4c;
	font-weight: bold;
	text-transform: uppercase;
	padding: 25px;
}
.main_nav i {
	color: #4c4c4c;
	width: 69px;
	height: 69px;
	text-align: center;
	line-height: 69px;
	display: none;
}
.main_nav a:hover, .main_nav a.current, .main_nav i:hover {
	background-color: #285360;
	color: #fff;
}

@media screen and (max-width:750px) {
.main_nav i {
	display: block;
}
.main_nav li {
	float: none;
}
.header-bottom .container {
	position: relative;
}
.main_nav {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}
.main_nav a {
	color: #262626;
	background: #ededed;
	display: none;
}
.main_nav:hover li a {
	display: block;
}
.main_nav:hover i {
	display: none;
}
.main_logo {
	float: none;
}
.main_logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
}

.index .slide {
	background: url(../img/main.jpg);
	height: 400px;
	background-position: center 20%;
	background-size: cover;
	position: relative;
}
.about .slide {
	background: url(../img/about.jpg);
	height: 400px;
	background-position: center 20%;
	background-size: cover;
	position: relative;
}
.blog .slide {
	background: url(../img/blog.jpg);
	height: 400px;
	background-position: center 20%;
	background-size: cover;
	position: relative;
}
.slide .slide_pattern {
	background: url(../img/line_pattern.png);
	height: 100%;
}
.slide .white_waves {
	height: 20px;
	width: 100%;
	background: url(../img/white_waves_bg.png);
	position: absolute;
	bottom: 0;
}
