<div class="about_slide slide">
  <div class="slide_pattern"></div>
  <div class="white_waves"></div>
</div>
<div class="container">
<article>
<h2>Наши цели</h2>
  <div class="row">
    <div class="col-md-4 aim_block"><i class="fa fa-eye"></i> <span>Стать первыми</span>
      <p>Nulla sed semper libero, in fermentum mi. Phasellus in facilisis velit. Sed tempor viverra eros, eget luctus lectus accumsan ac. </p>
    </div>
    <div class="col-md-4 aim_block"><i class="fa fa-star"></i><span>Создавать новое</span>
      <p>Nulla sed semper libero, in fermentum mi. Phasellus in facilisis velit. Sed tempor viverra eros, eget luctus lectus accumsan ac. </p>
    </div>
    <div class="col-md-4 aim_block"><i class="fa fa-briefcase"></i><span>Сделать мир лучше</span>
      <p>Nulla sed semper libero, in fermentum mi. Phasellus in facilisis velit. Sed tempor viverra eros, eget luctus lectus accumsan ac. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 aim_block"><i class="fa fa-bullhorn"></i><span>Стремиться к идеалу</span>
      <p>Nulla sed semper libero, in fermentum mi. Phasellus in facilisis velit. Sed tempor viverra eros, eget luctus lectus accumsan ac. </p>
    </div>
    <div class="col-md-4 aim_block"><i class="fa fa-paint-brush"></i><span>Учиться новому</span>
      <p>Nulla sed semper libero, in fermentum mi. Phasellus in facilisis velit. Sed tempor viverra eros, eget luctus lectus accumsan ac. </p>
    </div>
    <div class="col-md-4 aim_block"><i class="fa fa-link"></i><span>Новый подход к дизайну</span>
      <p>Nulla sed semper libero, in fermentum mi. Phasellus in facilisis velit. Sed tempor viverra eros, eget luctus lectus accumsan ac. </p>
    </div>
  </div>
</article>
<div class="clear"></div>
  <article>
<h2>Наша команда</h2>
  <div class="row team">
    <div class="col-md-3 col-xs-12">
      <div class="team_block">
        <div class="picture"><img src="../img/about/male1.jpg" alt="employee photo"/> <span class="nam">Иван Петров</span><br>
          <span class="small">ДИРЕКТОР</span></div>
        <div class="team_info">
          <p>Sed vehicula, nunc vel imperdiet vehicula, ante eros vehicula urna, in luctus magna erat vel turpis. Duis ut dignissim enim. Aliquam quis ligula sapien. Donec non purus massa. </p>
        </div>
        <div class="team_media"><i class="fa fa-vk fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i class="fa fa-facebook fa-lg"></i> <i class="fa fa-skype fa-lg"></i></div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="team_block">
        <div class="picture"><img src="../img/about/womansm.jpg" alt="employee photo"/> <span class="nam">Анна Иванова</span><br>
          <span class="small">МЕНЕДЖЕР ПРОЕКТОВ</span></div>
        <div class="team_info"><p>Sed vehicula, nunc vel imperdiet vehicula, ante eros vehicula urna, in luctus magna erat vel turpis. Duis ut dignissim enim. Aliquam quis ligula sapien. Donec non purus massa. </p>
        </div>
        <div class="team_media"><i class="fa fa-vk fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i class="fa fa-facebook fa-lg"></i> <i class="fa fa-skype fa-lg"></i></div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="team_block">
        <div class="picture"><img src="../img/about/male2.jpg" alt="employee photo"/><span class="nam">Петр Сергеев</span><br>
          <span class="small">ДИЗАЙНЕР</span></div>
        <div class="team_info">
          <p>Sed vehicula, nunc vel imperdiet vehicula, ante eros vehicula urna, in luctus magna erat vel turpis. Duis ut dignissim enim. Aliquam quis ligula sapien. Donec non purus massa. </p>
        </div>
        <div class="team_media"><i class="fa fa-vk fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i class="fa fa-facebook fa-lg"></i> <i class="fa fa-skype fa-lg"></i></div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="team_block">
        <div class="picture"><img src="../img/about/male3.jpg" alt="employee photo"/><span class="nam">Андрей Андреев</span><br>
          <span class="small">ФОТОГРАФ</span></div>
        <div class="team_info">
          <p>Sed vehicula, nunc vel imperdiet vehicula, ante eros vehicula urna, in luctus magna erat vel turpis. Duis ut dignissim enim. Aliquam quis ligula sapien. Donec non purus massa. </p>
        </div>
        <div class="team_media"> <i class="fa fa-vk fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i class="fa fa-facebook fa-lg"></i> <i class="fa fa-skype fa-lg"></i></div>
      </div>
    </div>
  </div>
  </article>
</div>
