
<div class="blog_slide slide">
  <div class="slide_pattern"></div>
  <div class="white_waves"></div>
</div>
<h2>Блог</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-3 sidebar">
        <div class="news">
          <p class="title">Новости</p>
          <p>Morbi facilisis, lorem vitae volutpat aliquet, libero sapien hendrerit ex, ac cursus nunc lorem eget felis. Mauris lobortis urna nec nisl iaculis, eu condimentum ex molestie.</p>
        </div>
        <div class="categories">
          <p class="title">Категории</p>
          <ul>
            <li><a href=""><i class="fa fa-angle-right"></i>Веб-дизайн</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Новое</a></li>
            <li><a href="" class="current"><i class="fa fa-angle-right"></i>Основы дизайна</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Уроки</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Интересное</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Лайфхаки</a></li>
          </ul>
        </div>
        <div class="parts blog_parts">
          <p class="title">Разделы</p>
          <ul>
            <li>контакты</li>
            <li>партнеры</li>
            <li>верстка</li>
            <li>разработки</li>
            <li>полиграфия</li>
          </ul>
        </div>
        </div>
        <div class="col-md-9 blog">
          <div class="blog_block">
          <div class="inf">
          <div class="date"><div class="day">28</div><div class="month">мая</div></div>
           <p>Концептуальный дизайн</p></div>
                      <div class="clearfix"></div>
          
            <img src="img/blog/img1.jpg"  alt=""/>
           <p>Ut venenatis eget tellus auctor viverra. Curabitur eget blandit diam. Ut pulvinar risus nec felis varius, at egestas libero tempus. Phasellus eu quam vitae nisi luctus mollis.
             Proin sollicitudin ultrices nunc, id gravida sapien cursus id. Nulla facilisi. Aliquam ornare viverra quam non iaculis. Etiam nec euismod enim.
             Nulla euismod purus vel leo consectetur volutpat. Quisque a tellus suscipit, sagittis eros ac, mattis tellus. Nunc sem sem, elementum a tincidunt sed, hendrerit nec mi.
             Praesent imperdiet tortor massa, sit amet suscipit ipsum scelerisque in. Cras varius sapien ac turpis porta maximus. In hac habitasse platea dictumst.
             Phasellus pulvinar, orci maximus bibendum accumsan, risus lorem porttitor libero, vitae condimentum velit neque at turpis. Etiam ut massa ac sem volutpat imperdiet id et sapien. </p>
            <a  class="btn btn-primary">Читать далее</a></div>
          
            <div class="blog_block">
          <div class="inf">
          <div class="date"><div class="day">15</div><div class="month">июня</div></div>
           <p>Специализация и личное позиционирование</p></div>
           <div class="clearfix"></div>
           
            <img src="img/blog/img2.jpg"  alt=""/><p>Praesent dictum erat non iaculis consectetur. Sed neque massa, sodales ac erat ac, rhoncus feugiat nibh.
              Sed consequat tempus consectetur. Etiam ac ipsum sed felis tincidunt maximus ac vitae orci. Sed non purus justo. Sed nulla diam, venenatis in dapibus sit amet,
              consequat et urna. Sed volutpat facilisis molestie. Praesent dictum erat non iaculis consectetur. Sed neque massa, sodales ac erat ac, rhoncus feugiat nibh.
              Sed consequat tempus consectetur. Etiam ac ipsum sed felis tincidunt maximus ac vitae orci. Sed non purus justo. Sed nulla diam, venenatis in dapibus sit amet,
              consequat et urna. Sed volutpat facilisis molestie. </p>
           <a  class="btn btn-primary">Читать далее</a> </div>
          <div class="blog_block">
          <div class="inf">
          <div class="date"><div class="day">2</div><div class="month">августа</div></div>
           <p>Погружение в мир 3D. Cinema 4D и Blender</p></div>
           <div class="clearfix"></div>
           
           <img class="wide" src="img/blog/img3.jpg"  alt=""/>
         <p>Vestibulum sed congue enim. Phasellus nec porttitor velit. Proin imperdiet, lorem at maximus cursus,
           elit purus luctus diam, ac lacinia magna arcu sed est. Curabitur sapien lorem, egestas ut rutrum quis,
           pellentesque sit amet risus. Proin aliquet, quam vel efficitur imperdiet, tellus ex consequat ex, in
           dignissim nisi turpis ut sapien. Nulla facilisi. Nullam vel felis eget dui posuere lobortis non sed eros.
           Phasellus commodo leo at neque dignissim dictum et non magna. Maecenas et massa sit amet elit lacinia mollis.
           Quisque condimentum dolor non massa consequat fermentum ut eu orci. Nulla viverra, nibh non placerat bibendum,
           enim dolor volutpat felis, id ultricies dolor nisi sed lacus. Maecenas efficitur mollis lectus, et pellentesque lacus. Nam vestibulum magna quis est placerat accumsan quis id enim. </p>
         <a  class="btn btn-primary">Читать далее</a> </div>
        </div>
      </div>
    </div>
 

