
<div class="blog_slide slide">
  <div class="slide_pattern"></div>
  <div class="white_waves"></div>
</div>
<h2>Блог</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-3 sidebar">
        <div class="news">
          <p class="title">Новости</p>
          <p>Вопросы об использовании современного импульсного света и вообще по стробизму очень часто встречаются в нашей почте. В разгар лета очередное задание на романтическую съёмку получила...</p>
        </div>
        <div class="categories">
          <p class="title">Категории</p>
          <ul>
            <li><a href=""><i class="fa fa-angle-right"></i>Основы фотографии</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Уроки по фотографии</a></li>
            <li><a href="" class="current"><i class="fa fa-angle-right"></i>Уроки по обработке</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Новости фотографии</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Тесты и обзоры</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Короткие советы</a></li>
          </ul>
        </div>
        <div class="parts">
          <p class="title">Разделы</p>
          <ul>
            <li>контакты</li>
            <li>партнеры</li>
            <li>верстка</li>
            <li>разработки</li>
            <li>полиграфия</li>
          </ul>
        </div>
        </div>
        <div class="col-md-9 blog">
          <div class="blog_block">
          <div class="inf">
          <div class="date"><div class="day">24</div><div class="month">июля</div></div>
           <p>ПОВЫШЕНИЕ РЕЗКОСТИ</p></div>
                      <div class="clearfix"></div>
          
            <img src="img/blog/img1.jpg"  alt=""/>
           <p>Повышение резкости, пожалуй, одна из самых избитых тем в интернете. Соревноваться с ней по популярности могут только бесчисленные способы превращения фотографии в черно-белую. Достаточно ввести в любой поисковой системе «повышение резкости», как вы сразу найдете детальное описание сотен методов и приемов, не говоря уж о множестве специализированных плагинов и отдельных программ. Как правило, при обработке портрета не требуется повышать резкость по всему изображению. Чтобы фотография казалась зрителю резкой, будет вполне достаточно, если резкими будут выглядеть ключевые детали. В подавляющем большинстве случаев достаточно сделать резкими только глаза (радужку и ресницы), чтобы даже самый мягкий портрет казался, как говорят, «звеняще резким». Реже требуется дополнительно повысить резкость на губах, украшениях, пуговицах на одежде и т.п.</p> 
            <a  class="btn btn-primary">Читать далее</a></div>
          
            <div class="blog_block">
          <div class="inf">
          <div class="date"><div class="day">10</div><div class="month">июля</div></div>
           <p>ТОНИРОВАНИЕ ПОРТРЕТОВ В РЕЖИМЕ EXCLUSION</p></div>
           <div class="clearfix"></div>
           
            <img src="img/blog/img2.jpg"  alt=""/><p>Сегодня мы расскажем о самом, пожалуй, любимом нами способе тонирования фотографий. Простом и эффектном.
            
            Начнем с того, что наилучший эффект, как правило, даёт тонирование не в один цвет, а как минимум в два. Такое раздельное тонирование позволяет выделить главный объект, «оторвать» его от фона, создать цветовой контраст. И всё это очень легко достигается описанным ниже методом.т.п.
            
            Сразу отмечу, что наилучший эффект мы сможем получить в случаях, когда основной объект на снимке заметно отличается от окружающего его фона по тону, то есть по яркости освещения. Классический случай — хорошо освещённая модель на тёмном фоне. На таких фотографиях описываемый метод позволяет создать между объектом и фоном так называемый «контраст тепло/холод», в котором многие фотографы и дизайнеры видят чуть ли не основной ключ к коммерческому успеху снимка.</p>
           <a  class="btn btn-primary">Читать далее</a> </div>
          <div class="blog_block">
          <div class="inf">
          <div class="date"><div class="day">7</div><div class="month">июля</div></div>
           <p>3 самых важных инструмента работы в lightroom</p></div>
           <div class="clearfix"></div>
           
           <img class="wide" src="img/blog/img3.jpg"  alt=""/> 
         <p>Для эффективной обработки не обязательно полностью изучать функционал Lightroom, достаточно изучить основные инструменты обработки. В данной статье вы узнаете как быстро и красиво обработать фотографию в Adobe Lightroom с помощью трёх самых важных инструментов: экспозиция, кисть и тонирование.т.п.
            
            Давайте начнем работу с анализа фотографии. Явная проблема – большой перепад яркости из-за того, что часть лица в тени, а другая часть на солнце.
            
            Что нужно сделать? Всё просто – осветлить тёмные участки и затемнить светлые, достав оттуда потерянную в пересвете информацию.</p>
         <a  class="btn btn-primary">Читать далее</a> </div>
        </div>
      </div>
    </div>
 

