<footer>
    <div class="waves"></div>
    <div class="footer_block">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3 fot_logo"> <img src="../img/site-assets/heritbw_small.png" alt="heritage logo">
                    <p>&copy; Heritage 2016. Все права защищены.</p>
                </div>
                <div class="col-xs-12 col-md-3 fot_sections">
                    <p class="fot_title">Разделы</p>
                    <ul>
                        <li>контакты</li>
                        <li>партнеры</li>
                        <li>верстка</li>
                        <li>разработки</li>
                        <li>полиграфия</li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <p class="fot_title">Контакты</p>
                    <p class="fot_contacts">
                        <i class="fa fa-envelope"></i> <span>heritage@gmail.com</span>
                    </p>
                    <p class="fot_contacts">
                        <i class="fa fa-phone"></i> <span>(812) 808-02-02</span>
                    </p>
                </div>
                <div class="col-xs-12 col-md-3 icons">
                    <p class="fot_title">Посетите нас в соцсетях</p>
                    <i class="fa fa-vk fa-lg"></i>
                    <i class="fa fa-twitter fa-lg"></i>
                    <i class="fa fa-facebook fa-lg"></i>
                    <i class="fa fa-skype fa-lg"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>