
<div class="index_slide slide">
  <div class="slide_pattern"></div>
  <div class="white_waves"></div>
</div>
<h2>Наши преимущества</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4 advance_block"> <span>Оригинальные идеи</span> <img src="../img/site-assets/diamond.svg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet velit ut urna ultricies suscipit.
        Donec vel mauris vel diam sollicitudin vehicula sit amet vitae erat. Curabitur mi urna, malesuada quis scelerisque a, imperdiet id lorem. </p>
      <a  class="btn btn-primary">Подробнее</a> </div>
    <div class="col-md-4 advance_block" > <span>Профессионализм</span> <img src="../img/site-assets/suitcase.svg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet velit ut urna ultricies suscipit.
        Donec vel mauris vel diam sollicitudin vehicula sit amet vitae erat. Curabitur mi urna, malesuada quis scelerisque a, imperdiet id lorem.</p>
      <a  class="btn btn-primary">Подробнее</a> </div>
    <div class="col-md-4 advance_block"> <span>Творческий взгляд</span> <img src="../img/site-assets/c_camera.svg" alt="">
      <p>ТLorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet velit ut urna ultricies suscipit.
        Donec vel mauris vel diam sollicitudin vehicula sit amet vitae erat. Curabitur mi urna, malesuada quis scelerisque a, imperdiet id lorem.</p>
      <a  class="btn btn-primary">Подробнее</a> </div>
  </div>
</div>

